typer
numpy
pikepdf
fpdf
PyPDF2
pandas
Faker
Pillow
qrcode
translate
moviepy
reportlab
setuptools
requests
PyMuPDF
# easyocr
opencv-python
rapidfuzz
matplotlib
imageio
alive_progress
# pywin32
pdf2docx